.contact {
    border: 1px solid transparent;
    width: 100%;
    height: 50%;
    margin-top: -70px;
}

.contact .container {
    border: 1px solid transparent;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_contact {
    width: 100%;
}

.col_6_contact {
    width: 50%;
}

.col_6_contact h1 {
    font-weight:500;
    font-family: 'Inter', sans-serif;
}

.col_6_contact p {
    padding-top: 10px;
}

.col_6_contact_right {
    width: 50%;
    margin-left: 90px;

    border: 1px solid transparent;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.col_6_contact_right span {
    font-weight: bold;
}

.link a {
    background-color: #FDC212;
   
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 13px;
    border-radius: 50px;
    margin-left: 31.5px;
}

.link {
    border: 1px solid transparent;
    width: 20%;
    display: flex;
    align-items: center;  
    
}

.link a:hover {
    margin-left: 0.1px;
    box-shadow: black -1px 1px;
}