.footer {
    width:100%;
    height: 40%;
    background-color: #FEE59A;
}

.footer .container {
    border: 1px solid transparent;

    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 70px;
    
}

.footer_row {
    border: 1px solid transparent;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}

.footer_row h2 {
    padding-bottom: 5px;
}

.footer_row p {
    line-height: 23px;
}

.col_4_footer {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    
}

.col_4_footer p {
   width:200px;
}

.col_4_footer h2 {
    font-weight:500;
    font-family: 'Inter', sans-serif;
}

.col_4_footer_2 {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col_4_footer_2 h2 {
    font-weight:500;
    font-family: 'Inter', sans-serif;
}

.col_4_footer_2 p {
    padding-right: 20px;
}

.col_4_footer_3 {
    
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.col_4_footer_3 h2 {
    padding-left: 159px;
    font-weight:500;
    font-family: 'Inter', sans-serif;
}

.col_4_footer_3 p {
    margin-left: 95px;
}

.row_last_footer {
    border: 1px solid transparent;
    text-align: center;
    padding-top: 30px;
    padding-bottom:5px;
    font-size: small;
    color: #555454;
}