.safety {
    width: 100%;
    height: 60%;
}

.safety .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
}

.safety .container p {
    margin-top: 10px;
    text-align: left;
}

.safety .container h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}