* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    width: 100%;
    height: 10vh;

    background-color: #EFEFEF;
    border: 1px solid transparent;
}

.header .container {
    border: 1px solid transparent;
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container h3 {
    font-family: 'Inter', sans-serif;
}


.header .container li {
    list-style-type: none;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.header .container ul {
    display: flex;
}

.delivery:hover {
    color: black;
    text-shadow:#FDC212 -1px 1px;
    cursor: pointer;
    font-size: larger;
}

.header .container .nav__link:hover {
    background-color: #FDC212;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 7px 17px;
    cursor: pointer;
}




