.aboutUs_section {
    border: 1px solid transparent;
    width: 100%;
    height: 60%;
}

.aboutUs_section .container {
    width: 80%;
    height: 100%;
    margin:  auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUs_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUs_row h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.aboutUs_row p {
    margin-top: 10px;
}