.delivery_ {
    width: 100%;
    height: 80%;

    border: 1px solid transparent;
}

.delivery_ .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid transparent;
}

.row_delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_delivery i {
    
    text-decoration: none;
    background-color: #FDC212;
    color: black;
    
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 50px;

}

.row_delivery p {
    padding-top:5px ;
    
    width: 380px;
    margin-bottom: 40px;
    
}

.col_6_right {
    margin-left: 200px;
    margin-top: 40px;
    width: 100%;
    border: 1px solid transparent;
    
}

.col_6_right h1 {
    font-weight:500;
    font-family: 'Inter', sans-serif;
}

.row_delivery i,a:hover {
    cursor: pointer;
    margin-left: 5px;
}